dl.decision-tree dl {
  margin:3px 0px;
}

dl.decision-tree dd {
  margin:3px 0px 3px 20px;
}

dl.decision-tree dd.collapsed {
  display:none;
}

dl.decision-tree dt:before {
  content:"-";
  display:inline-block;
  width:10px;
  font-weight:bold; font-size:65%;
}

dl.decision-tree dt.collapsed:before {
  content:"+";
}

dl {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.exp {
    height: 400px;
    width: 400px;
}

.container {
  margin: 0 0;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.nav-tree-container {
  background: linear-gradient(to right, #67b26f, #4ca2cd,#355c7d);
  width: 20%;
  padding-top: 10vh;
  padding-left: 15px;
  height: 90vh;
  margin: 0 0;
}

.chart-container {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  width: 70%;
  height: 80vh;
  margin: 0 0;
}
